body {
  background: aquamarine;
}

header {
  background: chartreuse;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

#canvas {
  display: flex;
  width: 80%;
  background-color: cadetblue;
  margin: 30px auto 30px auto;
  text-align: center;
  justify-content: space-around;
}

#canvas img {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 30px auto 30px auto;
}

#buttonResults {
  background: cadetblue;
  border: 3px solid black;
  border-radius: 15px;
  justify-content: space-between;
  width: fit-content;
  margin: 25px auto;
  
}

footer {
  display: flex;
  margin: 30px auto 30px auto;
  text-align: center;
  justify-content: space-around;
  width: 80%;
}
